body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #707070;
    background-color: #eeeaea;
    padding: 0;
    margin: 0;
}

/*Header inicio*/
header{
    display: flex;
    justify-content: center;
}
header>h1{
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
header>h1>a{
    color: #e3262e;
}
header>a{
    position: fixed;
    left: 12px;
    z-index: 1;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    color: #f17d82;
}
/*Header fim*/

h2{
    text-align: center;
    font-size: 1.6rem;
}

.content{
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: 2rem;
}
.content>p{
    margin: 5px 0 5px 0;
}
.content>p:first-child{
    font-size: 1.2rem;
    margin-bottom: 1.8rem;
}

/*Footer Inicio*/
.app-footer{
    width: 100%;
    clear: both;
    bottom: 0;
    color: #ffffff;
    font-weight: lighter;
    position: fixed;
    min-height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #e3262e;
}
.app-footer>section:first-child{
    text-decoration: none;
    align-self: center;
}
.app-footer>section:first-child>a{
    font-size: 1.5rem;
    font-weight: 400;
    color: white !important;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}
.app-footer>section:nth-child(2){
    margin-right: 10px;
    align-self: end;
}
/*Footer Fim*/